randoms
Resources
venv
venvPYPY
.idea

.iws
workspace.xml
tasks.xml
Python-modules-for-competitive-programming

CCC/**/*Data

./docs-pdf

*/**/*.exe
*/**/*.obj
cmake-build-debug-normal/

*.txt
*.prof

*.pdf
*.png
*.jpg

data
dmojScrape.py
/build/

/cmake*
/*.py